{% extends "base.html" %}

{% block content %}
<header>
    <!-- animation coin -->
    <div id="logotopbar" class="h-12"></div>
    <!-- Logo & Buy -->
    <nav class="flex flex-col items-center justify-around md:flex-row m-4">
        <div class="flex flex-row justify-around">
            <a href="{{ url_for('main.home') }}"
                class="flex flex-row items-center space-x-2 hover:text-amber-300 hover:underline">
                <img alt='stupidcoin' loading='lazy' width='40' height='40' src={{ url_for('static',
                    filename='stupid-logo.png' ) }}>
                <span class="text-3xl">$STUPID CoIN</span>
            </a>
        </div>
        <div class="flex flex-col w-full max-w-md items-center text-center my-6">
            <a href="https://jup.ag/swap/SOL-7cSz5m8dWxbgupgiDYuGYX9D9BskFREvcbRSwoMepump"
                class="bg-amber-400 hover:bg-amber-300 font-bold py-2 px-4 rounded-lg shadow-md hover:shadow-lg transition duration-300">
                Buy<br>$Stupid Coin
            </a>
        </div>
    </nav>
</header>

<main class="container mx-auto p-4">
    <div class="flex flex-col md:flex-row bg-white rounded-lg shadow-lg p-6 space-y-6 md:space-y-0 md:space-x-6">
        <!-- MEME Section -->
        <div class="w-full md:w-1/2">
            {% include "partials/meme.html" %}
        </div>
        <div class="w-full pt-2 md:w-1/2 text-center md:text-left">
            <div class="h-full flex flex-col justify-around space-y-4">
                <div>
                    <h1 class="text-2xl font-bold text-gray-800">
                        If the universe is absurd, $STUPID is its official currency
                    </h1>
                    <p class="text-gray-600 mt-4">
                        The world stopped making sense a long time ago, so why pretend otherwise? $STUPID embraces
                        the
                        chaos, celebrates the nonsense, and reminds us all that sometimes, the dumbest ideas are the
                        most
                        brilliant. In the end, stupidity isn't a flaw—it's the system.
                    </p>
                </div>
                <!-- RRSS -->
                <div class="flex flex-row justify-around md:justify-end space-x-4">
                    <a href="https://t.me/StupidCoinsTG" target="_blank"
                        class="flex items-center justify-center w-12 h-12 hover:bg-amber-500 rounded-full shadow-md transition-all duration-300">
                        <img src="{{ url_for('static', filename='telegram-logo.svg') }}" alt="Telegram"
                            class="w-6 h-6">
                    </a>
                    <a href="https://x.com/StupidCoinsX" target="_blank"
                        class="flex items-center justify-center w-12 h-12 hover:bg-amber-500 rounded-full shadow-md transition-all duration-300">
                        <img src="{{ url_for('static', filename='x-logo.png') }}" alt="Twitter" class="w-6 h-6">
                    </a>
                    <a href="https://www.tiktok.com/@stupidcoinsol" target="_blank"
                        class="flex items-center justify-center w-12 h-12 hover:bg-amber-500 rounded-full shadow-md transition-all duration-300">
                        <img src="{{ url_for('static', filename='tiktok-logo.svg') }}" alt="Tiktok" class="w-6 h-6">
                    </a>
                    <a href="https://www.instagram.com/stupidcoinsol" target="_blank"
                        class="flex items-center justify-center w-12 h-12 hover:bg-amber-500 rounded-full shadow-md transition-all duration-300">
                        <img src="{{ url_for('static', filename='instagram-logo.svg') }}" alt="Instagram"
                            class="w-6 h-6">
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- Sections -->
    <section class="py-10">
        <div class="flex flex-col items-center justify-center space-y-6 md:space-y-8">
            <a href="{{ url_for('main.home') }}"
                class="w-full max-w-md px-6 py-4 text-center bg-amber-300 rounded-lg shadow-md hover:bg-amber-500 transition-all duration-300text-2xl font-semibold hover:underline">
                MERCH
            </a>

            <a href="{{ url_for('main.home') }}"
                class="w-full max-w-md px-6 py-4 text-center bg-amber-300 rounded-lg shadow-md hover:bg-amber-500 transition-all duration-300text-2xl font-semibold hover:underline">
                FINANCE HUB
            </a>
            <a href="{{ url_for('main.home') }}"
                class="w-full max-w-md px-6 py-4 text-center bg-amber-300 rounded-lg shadow-md hover:bg-amber-500 transition-all duration-300text-2xl font-semibold hover:underline">
                AI FINANCIAL AGENT
            </a>

    </section>
    <!-- Chart -->
    <div class="relative w-full" style="padding-bottom: 56.25%; min-height: 400px;">
        <iframe
            src="https://dexscreener.com/solana/BVuN5TavvzhfBxnq564H85UfcXRaAs2eUBWhCZtogBvq?embed=1&loadChartSettings=0&trades=0&tabs=0&info=0&chartLeftToolbar=0&chartTheme=dark&theme=dark&chartStyle=0&chartType=usd&interval=15"
            frameborder="0" class="absolute top-0 left-0 w-full h-full" allowfullscreen>
        </iframe>
    </div>

    <!-- Tips -->
    <div>
        <h2 class="text-3xl text-center font-bold mt-6">How to Buy $Stupid coin token</h2>
    </div>
    <div class="flex flex-col md:flex-row text-center justify-around space-y-6 md:space-y-0 md:space-x-6 mt-6">
        <div class="w-full md:w-1/3 bg-white rounded-lg shadow-lg p-6">
            <h3 class="text-2xl font-bold text-ambar-400">
                Create Wallet
            </h3>
            <div class="flex flex-col items-center space-y-1">
                <p>Download Phantom Wallet to start.</p>
                <a class="w-full max-w-md bg-amber-400 hover:bg-amber-300 font-bold py-2 px-4 rounded-lg shadow-md hover:shadow-lg transition duration-300"
                    href="https://phantom.com/" target="_blank">Get Phantom Wallet
                </a>
            </div>
        </div>
        <div class="w-full md:w-1/3 bg-white rounded-lg shadow-lg p-6">
            <h3 class="text-2xl font-bold text-ambar-400">
                Buy Sol
            </h3>
            <div class="flex flex-col items-center space-y-1">
                <p>Use any exchange to stack your wallet with Sol.</p>
                <a class="w-full max-w-md bg-amber-400 hover:bg-amber-300 font-bold py-2 px-4 rounded-lg shadow-md hover:shadow-lg transition duration-300"
                    href="https://help.phantom.com/hc/en-us/articles/4406543783571-How-to-buy-Solana-SOL-Ethereum-ETH-Polygon-POL-and-Bitcoin-BTC"
                    target="_blank">Instructions
                    for Phantom
                </a>
            </div>
        </div>
        <div class="w-full md:w-1/3 bg-white rounded-lg shadow-lg p-6">
            <h3 class="text-2xl font-bold text-ambar-400">
                Swap Tokens
            </h3>
            <div class="flex flex-col items-center space-y-1">
                <p>Exchange Sol for $STUPID the oG meme token.</p>
                <a class="w-full max-w-md bg-amber-400 hover:bg-amber-300 font-bold py-2 px-4 rounded-lg shadow-md hover:shadow-lg transition duration-300"
                    href="https://rugcheck.xyz/tokens/7cSz5m8dWxbgupgiDYuGYX9D9BskFREvcbRSwoMepump"
                    target="_blank">Safety First
                    - Rugchecker</a>
            </div>
        </div>
    </div>
    
</main>
{% endblock %}

